body{
    background-color:rgb(227, 86, 180);
    background-image:url(norway1.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
}
h1{
    color:white;
    font-family:"press Start 2P","consolas",sans-serif;

    border-top-style:dotted;
    border-bottom-style:dotted;
    border-left-style:double ;
    border-left-width: 10px;
    border-left-color:silver;

    background: linear-gradient(to left,skyblue,lightgreen); 
    background-repeat:no-repeat;
    background-attachment:fixed;
}
p{
    background-color:gray; color:white;
    font-family:"consolas", sans-serif;
    font-style:italic;
    font-weight:bold;
    text-decoration:cyan wavy underline;
    font-size: 18px;

    border-style:solid;
    border: width 5px;
    border-color:gold;
    border-radius:10px;
    padding: 10px;

    background: linear-gradient(to left,skyblue,lightgreen); 
    background-repeat:no-repeat;
    background-attachment:fixed;
}
#p1{
   color:tomato;
}
.odd{
    color:red;
}
.even{
    color:blue;
}

#box1{
    border:3px solid;
    width:250px;
    height: 250px;
    font-size:22px;
    background:greenyellow;

    padding:15px;

    /*margin-top:50px;
    margin-left:50px;
    margin-bottom:50px;
    margin-right:50px;*/
    margin:50px;
}
#box2{
    border:3px solid;
    width:250px;
    height: 250px;
    font-size:22px;
    background:violet;
}
body{
    margin:15px;
}
img{
    float:none;
}
.box{
    width:100px;
    height:100px;
    border:1px solid;
    font-size:40px;
    text-align:center;
    background:tomato;
    
    float:left;
}
.lorem5{
    clear:left;
}

#box3{
    border:1px;
    height: 100px;
    width: 100px;
    background-color:skyblue;

    

}
#box4{
    border:1px solid;
    height:100px;
    width:100px;
    background-color:tomato;

    position:absolute;

    top:150px;
    left:50px;
}
#box5{
    border:1px;
    height:300px;
    width:300px;
    background-color:skyblue;

    position:relative;
    left:250px;
    top: 250px;
}
#box6{
    border:1px;
    height:100px;
    width:100px;
    background-color:palevioletred;

    position:absolute;

    top:100px;
    left:100px;
}
a{
    font-size: xx-large;
}
a:link{
    color:lawngreen;
}
a:visited{
    color:grey;
}
a:hover{
    color:tomato;
}
a:active{
    color:yellow;
}
button{
    font-size: xx-large;
}
button:hover{
    background-color:lightcoral;
}
button:active{
    background-color:skyblue;
}
li{
    font-size: 35px;
}
/*li:nth-child(2){
    background-color:yellow;
}*/
li:nth-child(even){
    background-color:yellow;
}
li:nth-child(odd){
    background-color:yellowgreen;
}
h2{
    font-size: xxx-large;
    text-shadow:0px 5px 0px grey , 0px -5px 0px red;
}
h2:hover{
    box-shadow:5px 5px 5px;
}
.fa-twitter{

}
.fa-youtube{
    color:red;
}


